# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.hs]
indent_style = space
indent_size = 2

[*.sql]
indent_style = space
indent_size = 2

[*.{yaml,yml}]
indent_style = space
indent_size = 2
